<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
  <apx-chart
    [series]="chartLineOptions.series"
    [chart]="chartLineOptions.chart"
    [xaxis]="chartLineOptions.xaxis"
    [dataLabels]="chartLineOptions.dataLabels"
    [grid]="chartLineOptions.grid"
    [stroke]="chartLineOptions.stroke"
    [title]="chartLineOptions.title"
  ></apx-chart>
</div>
