<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Liste des KPIs et leurs formules</h3>
        <table class="table">
          <thead>
            <tr>
              <th>KPI</th>
              <th>Formule</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formule of formules">
              <td>{{ getKpiName(formule.kpis) }}</td>
              <td>{{ formule.nomFormule }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="col-md-6">
        <h3>Ajouter un KPI</h3>
        <form>
          <div class="form-group">
            <label for="nom-kpi">Nom du KPI</label>
            <select [(ngModel)]="selectedKpi" class="form-control" id="nom-kpi">
              <option value="">Choisir un KPI</option>
              <option *ngFor="let kpi of kpis" [value]="kpi.nomKpi">{{ kpi.nomKpi }}</option>
            </select>
          </div>
          
          
          <div class="form-group">
            <label for="formule">Formule</label>
            <div class="input-group">
              <input  type="text" >
              <div class="input-group-append">
                <div class="btn-group">
                  <button class="btn btn-secondary" type="button" >+</button>
                  <button class="btn btn-secondary" type="button" >-</button>
                  <button class="btn btn-secondary" type="button">*</button>
                  <button class="btn btn-secondary" type="button">/</button>
                  <button class="btn btn-secondary" type="button">(</button>
                  <button class="btn btn-secondary" type="button">)</button>
                  <button class="btn btn-secondary" type="button">&#x2211;</button>
                  <button class="btn btn-secondary" type="button">&#x220F;</button>
                </div>
               
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nom-kpi">Nom du Compteur</label>
            <select [(ngModel)]="selectedCompteur" class="form-control" id="nom-kpi">
              <option value="">Choisir un Compteur</option>
              <option *ngFor="let cpt of compteurs" [value]="cpt.nomCompteur">{{ cpt.nomCompteur }}</option>
            </select>
          </div>
          
            
          <button (click)="addFormule()" type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>